	/* grid */
	* { box-sizing: border-box; }
	.row::after { content: ""; clear: both; display: table; }
	[class*="col-"] {float: left; padding: 15px;}
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	body {
	font-family: "Lato", sans-serif;
	transition: background-color .5s;
	margin-top:40px;
	}
	
	ul { margin: 0; padding: 0; }

	.troli li {
 	display: block;
	list-style: none;
	width: 150px;
 	margin: 0 5px 5px 0;
 	overflow:hidden;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;

	}
	.gallery li {
	max-height:150px;
	display: inline;
	list-style: none;
	width: 150px;
	float: left;
	margin: 0 5px 5px 0;
	text-align: center;
	overflow:hidden;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	}
	
	.gallery img { 
	margin: auto;
	float: none;
	width: 100px;
	height: 100px;
	}
	
 	.troli li {text-align:left; width:100%;}

	.center {
	margin: auto;
	width: 60%;
	padding: 10px;
	}
	
	img {
	width: 100%;
	height: auto;
	}
	
	#info { 
	display:block;
	width:100%;
	word-wrap:break-word;
	}
	
	#inpCari {
	position: relative;
	padding: 12px 20px 12px 40px;
	}
	
	/* navigation bar */
	.topnav {
	background-color: #333;
	overflow: hidden;
	position: fixed;
	top: 0;
	left:0;
	width:100%;
	}
	
	.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	}
	
	.topnav a:hover {
	background-color: #ddd;
	color: black;
	}
	
	.topnav a.active {
	background-color: #4CAF50;
	color: white;
	}
	
	/* floar button */
	.float{
	position:fixed;
	z-index:1;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	border-radius:50px;
	box-shadow: 2px 2px 3px #999;
	text-decoration: none;
	}
	
	.float::before {
	content: "+";
	height:60px;
	width:60px;
	font-size:60px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	font-weight:bold;
	font-family:courier;
	color:white;
	}
	
	/* loader progress */
	.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 2s linear infinite;
	display:none;
	}
	
	@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
	}
	
	/* alert */  
	.alert {
	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-bottom: 15px;
	}
	
	/* close button */
	.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
	}
	
	.closebtn:hover {
	color: black;
	} 
	
	/* close button */
	.btn-group button {
	background-color: #4CAF50; 
	border: 1px solid green;
	color: white; 
	padding: 10px 24px;
	cursor: pointer; 
	float: left; 
	}
	
	.btn-group button:not(:last-child) {
	border-right: none;  
	}
	
	.btn-group:after {
	content: "";
	clear: both;
	display: table;
	}
	
	.btn-group button:hover {
	background-color: #3e8e41;
	}
	
	/* table */
	table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
	}
	
	th, td {
	border: none;
	text-align: left;
	padding: 8px;
	}
	
	tr:nth-child(even){background-color: #f2f2f2}
	
	/* pagination */
	.pagination a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	}
	
	.pagination a.active {
	background-color: #4CAF50;
	color: white;
	}
	
	progress {width: 100%;	}
	
	.progress {
	width: 100%;
	background-color: #ddd;
	}
	
	.pbar {
	width: 10%;
	height: 30px;
	background-color: #4CAF50;
	}
	
	.pagination a:hover:not(.active) {background-color: #ddd;}
	
	/* form */
	input[type=text], input[type=password], select, textarea {
	width: 100%; 
	padding: 12px; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical 
	}
	
	input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	}
	
	input[type=submit]:hover {
	background-color: #45a049;
	}
	
	.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	}
	
	/* side navigation */
	.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	}
	
	.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	}
	
	.sidenav a:hover, .offcanvas a:focus, .closenav  {
	color: #f1f1f1;
	background-color: #222;
	
	}
	
	.sidenav .closenav {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	color: #818181;
	cursor: pointer;
	}
	
	.overlay3 {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 3;
	top: 0;
	left:0;
	background-color: rgba(0,0,0, 0.9);
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	opacity:0;
	transition: opacity 1s;
	}
	
	.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	}
	
	  
	
	@media only screen and (max-width: 600px) {
	[class*="col-"] { width: 100%; }

	.gallery li  {width: 100%;text-align:left; }
	.gallery img { margin-right: 20px; float: left; }


	}
	
	@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
	
	
	
	}
